<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log.dir">logs</Property>
		<Property name="timestamp">${date:yyyy-MM-dd_HH-mm-ss}</Property>
		<Property name="log.file">${log.dir}/app_${timestamp}.log</Property>
	</Properties>

	<Appenders>
		<RollingFile name="FileLogger" fileName="${log.file}" filePattern="${log.dir}/app_%d{yyyy-MM-dd_HH-mm-ss}.log">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<Console name="ConsoleLogger" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</Console>
	</Appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="FileLogger" />
			<AppenderRef ref="ConsoleLogger" />
		</Root>
	</Loggers>
</Configuration>
